@utility opacity-disabled {
  opacity: var(--opacity-disabled);
}

@utility cursor-interactive {
  cursor: var(--cursor-interactive);
}

@utility cursor-disabled {
  cursor: var(--cursor-disabled);
}

/*  utility */
@utility z-backdrop {
  z-index: 98;
}
@utility z-popover {
  z-index: 99;
}
@utility z-dialog {
  z-index: 99;
}
@utility z-header {
  z-index: 60;
}
@utility z-drawer {
  z-index: 60;
}

/*  variants */

@utility status-disabled {
  opacity: var(--opacity-disabled);
  cursor: var(--cursor-disabled);
  pointer-events: not-allowed;
}

@utility rounded-inherit {
  border-radius: inherit;
}

@custom-variant dark (&:is(.dark, .dark *,[data-theme="dark"], [data-theme="dark"] *));
@custom-variant light (&:is(.light, .light *,[data-theme="light"], [data-theme="light"] *));

@custom-variant data-hovered (&[data-hovered]:not([data-invalid]):not(.group[data-invalid] &):not([data-opened]):not([data-pressed]):not([data-selected]));
@custom-variant focus-within (&:where(:focus-within));
