:root,
html,
body {
  @apply bg-background text-foreground;
}

@layer base {
  :root {
    --white: oklch(100% 0 0);
    --black: oklch(0% 0 0);

    --cursor-interactive: default;
    --cursor-disabled: not-allowed;

    --opacity-disabled: 0.5;

    --fs-2xs: clamp(0.66rem, -0.08vi + 0.68rem, 0.58rem);
    --fs-xs: clamp(0.72rem, -0.03vi + 0.73rem, 0.69rem);
    --fs-sm: clamp(0.8rem, 0.04vi + 0.79rem, 0.83rem);
    --fs-base: clamp(0.82rem, 0.13vi + 0.84rem, 0.9rem);
    --fs-md: clamp(0.9rem, 0.13vi + 0.84rem, 1.05rem);
    --fs-lg: clamp(0.96rem, 0.25vi + 0.9rem, 1.2rem);
    --fs-xl: clamp(1.06rem, 0.4vi + 0.96rem, 1.44rem);
    --fs-2xl: clamp(1.16rem, 0.59vi + 1.02rem, 1.73rem);
    --fs-3xl: clamp(1.28rem, 0.83vi + 1.07rem, 2.07rem);
    --fs-4xl: clamp(1.41rem, 1.14vi + 1.13rem, 2.49rem);
    --fs-5xl: clamp(1.55rem, 1.51vi + 1.17rem, 2.99rem);
  }
}

@layer base {
  :root,
  .light,
  [data-theme="light"] {
    --background: oklch(0.9702 0 0);
    --foreground: oklch(0.1611 0 0);

    --surface: oklch(1 0 0);
    --surface-foreground: oklch(0.1611 0 0);

    --default: oklch(0.8235 0 0);
    --default-foreground: oklch(0.1611 0 0);

    --primary: oklch(0.5461 0.2153 262.944);
    --primary-foreground: oklch(0.9702 0 0);

    --secondary: oklch(0.5412 0.247 293.008);
    --secondary-foreground: oklch(0.9702 0 0);

    --success: oklch(0.6275 0.1701 149.248);
    --success-foreground: oklch(0.9702 0 0);

    --warning: oklch(78.363% 0.16039 82.856);
    --warning-foreground: oklch(0.1611 0 0);

    --danger: oklch(0.5765 0.2153 27.328);
    --danger-foreground: oklch(0.9702 0 0);

    --border: oklch(0.8235 0 0);
    --separator: oklch(0.8235 0 0);
    --focus: oklch(0.5461 0.2153 262.944);
    --link: oklch(0.5461 0.2153 262.944);
  }

  .dark,
  [data-theme="dark"] {
    --background: oklch(12% 0.005 285.823);
    --foreground: oklch(0.9702 0 0);
    --snow: oklch(0.9911 0 0);
    --eclipse: oklch(0.2103 0.0059 285.89);

    --surface: oklch(0.2103 0.0059 285.89);
    --surface-foreground: var(--foreground);

    --default: oklch(27.4% 0.006 286.033);
    --default-foreground: var(--snow);

    --primary: oklch(0.6204 0.195 253.83);
    --primary-foreground: var(--snow);

    --secondary: oklch(0.7015 0.247 293.008);
    --secondary-foreground: var(--snow);

    --success: oklch(0.7329 0.1935 150.81);
    --success-foreground: var(--eclipse);

    --warning: oklch(79.998% 0.13813 68.89);
    --warning-foreground: var(--eclipse);

    --danger: oklch(0.594 0.1967 24.63);
    --danger-foreground: var(--snow);

    --border: oklch(30% 0 0);
    --separator: oklch(22% 0.006 286.033);
    --focus: var(--primary);
    --link: var(--primary);
  }
}
